{% extends "layout.njk" %}

{% block content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <ul class="tweets">
        {% for tweet in tweets %}
        <li class="tweet">
            <article>
                <header>
                    <h2>{{ tweet.name }}</h2>
                    <time datetime="{{ tweet.updated_at }}">{{ tweet.updated_at }}</time>
                </header>
                <p>{{ tweet.message }}</p>
                <footer>
                    <ul>
                        <li>Shared</li>
                        <li>Reply</li>
                    </ul>
                </footer>
            </article>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}